.footer{
    background-color:#2F303A ;
    
}

.footer__container{
   @include max767{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 15px;
   }

   @include min768-max1199{
    padding: 60px 0;
   }
   
    @include min1200{
    display: flex;
    align-items: baseline;
    height: 252px;
   }
}


.footer__tablet{

    @include max767{
        display: block;
    }

    @include min768-max1199{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        padding-bottom: 60px;
    }
   

    @include min1200{
        display: flex;
    }

}

.footer__contacts{
   @include min1200{
    padding-top: 60px;
    padding-bottom: 60px;
   }
    
}

.footer__logo{
   
    @include max767{
        font-size: 24px;
        line-height: 1.7;
        font-family:var(--secondary-font);
        font-weight: 700;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        display: block;
        text-align: center;
    }

    @include min768-max1199{
        font-size: 24px;
        line-height: 1.7;
        font-family:var(--secondary-font);
        font-weight: 700;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        display: block;
        text-align: center;
    }
   
   
    @include min1200{
        font-family:var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        
    }

   
   
   
    
    

}

.logo-footer-accent{
    color: var(--primary-text-color-theme-dark);
}


.footer__item{
   @include max767{
    text-align: center;
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
   }

   @include min768-max1199{
    text-align: center;
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
   }
  
    @include min1200{
    margin-bottom: 9px;
    &:last-child {
        margin-bottom: 0;
    }
   }
}


.footer__list{
    padding-top: 20px;
}

.footer__map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-text-color-theme-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus,
    &:hover {
        color: var(--accent-color);
    }

}



.footer__mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    
   
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}



.footer__tel{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}



.footer-social{
    @include max767{
        padding-top: 60px;
    }


    
    @include min1200{
        padding-top: 72px;
        padding-bottom: 100px;
        margin-left: 70px;
        display:block;
        align-items: baseline;
    }
}

.footer-social__head{
   @include max767{
    font-family:var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-text-color-theme-dark);
    margin-bottom: 20px;
    text-align: center;
   }

   @include min768-max1199{
    font-family:var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-text-color-theme-dark);
    margin-bottom: 20px;
    text-align: center;
   }
   
    @include min1200{
    font-family:var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-text-color-theme-dark);
    margin-bottom: 20px;
   }
}


.social-link{ 
    background-color:rgba(255, 255, 255, 0.1);
}


.social-icon-footer{
    fill:var(--primary-text-color-theme-dark);
}

.footer-mail{
  @include max767{
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
    width: 100%;
  }

  @include min768-max1199{
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
 
    @include min1200{
    margin-left: auto;
    padding-top: 72px;
    padding-bottom: 94px;
 }
}

.footer-mail__paragraph{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 20px;

}

.form-subscribe{
   @include max767{
    display: block;
   }
   
    @include min1200{
        display: flex;
        align-items: baseline;
    }

}

.form-subscribe__input{
   @include max767{
    
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-text-color-theme-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;
    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }  
   }


   @include min768-max1199{
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-text-color-theme-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;
    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }  
   }
   
   
    @include min1200{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    background-color: transparent;
    color: var(--primary-text-color-theme-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }  
   }

}


input, textarea {
    padding: 15px 16px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    margin:auto;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 0;
    color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:hover{
        background-color:#188CE8;
    }
}



.form-subscribe__icon{
    margin-left: 10px;
}