.footer{
    background-color:#2F303A ;
    
}

.footer__container{
    display: flex;
    align-items: baseline;
    height: 252px;
}

.footer__contacts{
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.footer__logo{
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    

}

.logo-footer-accent{
    color: var(--primary-text-color-theme-dark);
}


.footer__item{
    margin-bottom: 9px;
}


.footer__list{
    padding-top: 20px;
}

.footer__map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-text-color-theme-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}



.footer__mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}



.footer__tel{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}



.footer-social{
    padding-top: 72px;
    padding-bottom: 100px;
    margin-left: 70px;
    display:block;
    align-items: baseline;
}

.footer-social__head{
    font-family:var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-text-color-theme-dark);
    margin-bottom: 20px;
}


.social-link{ 
    background-color:rgba(255, 255, 255, 0.1);
}


.social-icon-footer{
    fill:var(--primary-text-color-theme-dark);
}

.footer-mail{
 margin-left: auto;
 padding-top: 72px;
 padding-bottom: 94px;
}

.footer-mail__paragraph{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 20px;

}

.form-subscribe{
    display: flex;
    align-items: baseline;

}

.form-subscribe__input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    background-color: transparent;
    color: var(--primary-text-color-theme-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }  

}


input, textarea {
    padding: 15px 16px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    margin:auto;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 0;
    color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:hover{
        background-color:#188CE8;
    }
}



.form-subscribe__icon{
    margin-left: 10px;
}