.gallery{
    padding-bottom: 94px;

    @include max767{
        display: none;
    }
}

.gallery__head{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}

.gallery__list{
    display: flex;
    gap: 30px;
}

.gallery__item{
    position: relative;
    width: item-base(3, 30px);
    
}

.gallery__paragraph{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
